/*#F2F2F2 #666D89 #A3A7B9*/
.top-wrapper {
  height: 100vh;
  background-image: url('/assets/img/smms_bg.jpg');
  background-size: 100% 100vh;
  font-family: 'Glacia Indifferent';
  font-size: 2rem;
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .home-heading {
    padding-bottom: 0.5em;
    font-size: 250%;
  }
  .home-subheading {
    padding-bottom: 1em;
  }
  .know-cost {
    align-self: flex-start;
    font-size: 2rem;
    align-items: center;
    align-items: center;
    padding: 10px 20px;
    background-color: azure;
    font-family: 'Lato';
    border-style: none;
    margin-top: 15px;
    border-radius: 10px;
  }
  .know-cost:hover {
    cursor: pointer;
    background-color: orange;
  }
}

.passion-colors {
  color: #31333c;
  background-color:#F2F2F2; 
}

.review {
  padding-top: 1em;
  .review-icon {
    font-size: 350%;
  }
  .usefull {
    background: white;
    padding: 1em;
    padding-top: 3em;
    border-radius: 10px;
    position: relative;
    .usefull-header {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1em;
      padding-bottom: 0.25em;
      border: 1px black solid;
      border-top: none;
      border-left: none;
      border-bottom-right-radius: 12px;
    }
    .usefull-item:not(:last-child()) {
      border-left: 1px black solid;
    }
  }
  .image-wrapper {
    text-align: center;
    border-radius: 39px;
    height: 420px;
    overflow: hidden;
  }
}

.interest {
  text-align: justify;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  .interest-intro {
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .benefits {
    h3 {
      text-align: center;
      border-top: 2px dashed;
      font-size: 1.75rem;
      margin: 0;
      padding: 1rem 0;
      text-transform: uppercase;
      margin-top: 1rem;
    }
    .benefits-item {
      display: flex;
      justify-content: space-between;
      .benefits-icon {
        font-size: 8rem;
        display: flex;
        justify-content: center;
        i {
          align-self: center;
        }
      }
      .benefits-text {
        padding: 1rem 0;
        .orange {
          color: orange;
        }
        .benefits-text-header {
          font-weight: bold;
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
        }
        .benefits-text-content {
          font-size: 1.25rem;
        }
      }
      .benefits-icon,
      .benefits-text {
        flex: 47%;
        max-width: 47%;
        border-top: 2px dashed black;
      }
    }
    .benefits-item.last-border {
      .benefits-icon,
      .benefits-text {
        border-bottom: 2px dashed black;
      }
    }
  }
}

.works {
  padding: 3rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  background-image: url("/assets/img/works_bg.png");
  .works-wrapper {
    h2 {
      padding: 2rem;
      color: white;
      text-transform: uppercase;
      font-size: 2.5rem;
      text-align: center;
    }
    .works-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      .divider {
        width: 2px;
        background-color: #e25920;
        position: absolute;
        height: 100%;
        bottom: -3rem;
        left: 50%;
      }
      .works-item {
        color: white;
        display: inline-block;
        margin-top: 6rem;
        max-width: 45%;
        width: 45%;
        .works-item-header {
          background-color: #e25920;
          text-transform: uppercase;
          text-align: center;
          padding: 1rem;
        }
        .works-item-description {
          padding: 1rem;
          border: 1px #e25920 solid;
        }
      }
      .works-item.first {
        margin-top: 0;
      }
    }
  }
}

.comments {
  font-size: 1.5rem;
  padding: 3rem;
  padding-top: 1rem;
  .comments-header,
  .comments-subheader {
    text-align: center;
  }
  .comments-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }
  .comments-subheader {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
  }
  .users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    max-height: 800px;
    overflow: hidden;
    .user {
      padding: 2rem;
      width: 25%;
    }
  }
}

.comments {
  background: #eee;
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  #team {
      background: #eee !important;
  }

  .btn-primary:hover,
  .btn-primary:focus {
      background-color: #201b26;
      border-color: #201b26;
      box-shadow: none;
      outline: none;
  }

  .btn-primary {
      color: #fff;
      background-color: #201b26;
      border-color: #201b26;
  }

  section {
      padding: 60px 0;
  }

  section .section-title {
      text-align: center;
      color: #201b26;
      margin-bottom: 50px;
      text-transform: uppercase;
  }

  #team .card {
      border: none;
      background: #ffffff;
  }

  .image-flip:hover .backside,
  .image-flip.hover .backside {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      border-radius: .25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

  .mainflip {
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 1s;
      -moz-transition: 1s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
      position: relative;
  }

  .frontside {
      position: relative;
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      z-index: 2;
      margin-bottom: 30px;
  }

  .backside {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }

  .frontside,
  .backside {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 1s;
      -moz-transform-style: preserve-3d;
      -o-transition: 1s;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -ms-transition: 1s;
      transition: 1s;
      transform-style: preserve-3d;
  }

  .frontside .card,
  .backside .card {
      min-height: 312px;
  }

  .backside .card a {
      font-size: 18px;
      color: #007b5e !important;
  }

  .frontside .card .card-title,
  .backside .card .card-title {
      color: #201b26 !important;
  }

  .frontside .card .card-body img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }
}

.buy {
  padding: 2em 0;
  padding-top: 1em;
}